<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="w-50">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <div>
                <h1 class="form-label text-danger" style="margin-left: 150px;">Contact Our</h1>
                <h1 style="margin-left: 80px;">Customer Support Center</h1>
            </div>
            <img src="assets/data/laptop.png" alt="Laptop" class="img-fluid" style="width: 150px;">
        </div>

        <form>
            <label for="firstName" class="form-label">Name*</label>
            <div class="row mb-3">
                <div class="col-md-6">
                    <input type="text" class="form-control" id="firstName">
                    <label for="firstName" class="form-label" style = "font-size : 11px">First Name</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="lastName">
                    <label for="firstName" class="form-label" style = "font-size : 11px">Last Name</label>
                </div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email*</label>
                <input type="email" class="form-control" id="email">
            </div>

            <div class="mb-3">
                <label for="phone" class="form-label">Phone*</label>
                <input type="tel" class="form-control" id="phone">
            </div>

            <div class="mb-3">
                <label for="address" class="form-label">Address*</label>
                <input type="text" class="form-control" id="address">
            </div>

            <div class="text-start">
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>




